<h1> Admin Dashboard Page </h1>
<p> Welcome <%= @dashboard.user_email %>! </p>

<hr>

<section>
  <h3>Current Locations</h3>
  <ol>
    <% @dashboard.locations.each do |location| %>
      <li>
        <%= link_to "#{location.name}", location_path(location) %>
      </li>
    <% end %>
  </ol>

  <h3>Add Location</h3>

  <%= form_for @dashboard.location do |form|%>
    <div>
      <%= form.label :name, "City:  "%>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :state, "State: "%>
      <%= form.text_field :state %>
      <%= form.submit %>
    </div>
    <% end %>
</section>

<hr>

<section>
  <h3>Current Categories</h3>
  <ol>
    <% @dashboard.categories_names.each do |name| %>
      <li><%= name %></li>
    <% end %>
  </ol>

  <h3>Add Category</h3>
  <%= form_for @dashboard.category do |form| %>
    <%= form.label :name, "Category Name: " %>
    <%= form.text_field :name %>
    <%= form.submit %>
  <% end %>
</section>

<%@locations.each do |location|%>
  <div>
  <%=link_to "#{location.name}", location %>
  </div>
<%end%>